<%= form_for :curriculum, url: curriculums_path do |f| %> 
<%= render "display_errors" %> 

<table cellpadding="10">
	<tr>
		<td>
			<%= f.label :country, "Land*" %>
		</td>
		
		<td>
			<%= f.select :country , ["Deutschland", "Austria", "Schweiz"],
			  :include_blank => false,
			  :prompt => "Bitte wählen" %>
		</td>
	</tr>
	
	<tr> <!--dynamisch nach Auswahl des Landes anzeigen -->
		<td>
			<%= f.label :state, "Bundesland*" %>
		</td>
		
		<td>
			   <%= f.text_field :state, placeholder:"Bundesland" %>
		</td>
		
	</tr>
	<tr>
		<td>
			<%= f.label :typeOfSchool, "Schulart*" %>
		</td>
		
		<td>
			   <%= f.text_field :typeOfSchool, placeholder:"Schulart" %>
		</td>
			
	</tr>
	<tr>
		<td>
			<%= f.label :profession, "Zweig" %>
		</td>
		
		<td>
			   <%= f.select :profession , ["naturwissenschaftlich", "sprachlich", "musisch", "klassisch", "wirtschaftlich", "handwerklich"],
			  :include_blank => false,
			  :prompt => "Bitte wählen" %>
		</td>
		
	</tr>
	<tr>
		<td>
			<%= f.label :subject, "Fach*" %>
		</td>

		<td>
			<%= f.text_field :subject, placeholder:"Fach" %>
		</td>
	</tr>
	<tr>
		<td>
			<%= f.label :level, "Jahrgangsstufe*" %>
		</td>
		
		<td>
			 <%= f.text_field :level, placeholder:"Jahrgangsstufe" %>
		</td>
			
	</tr>

</table>


 
  <p>
    <%= f.submit "Lehrplan anlegen" %>
  </p>
<% end %>