<h1><%= image_tag "lehrplaene.jpg", border:"0", width:"150", height:"150" %>Willkommen beim Lehrplan!</h1>
<br />
<br />
<div class="col span_1_of_3">
	<h5>Du hast nun folgende Möglichkeiten:</h5>
	<%= link_to 'Neuen Lehrplan anlegen', new_curriculum_path %><br />
	Im Lehrplan suchen<br />
	<%= link_to 'Alle Schlagwörter auflisten', contents_path%>
</div>
<div class="col span_2_of_3">

	<h5>Folgende Lehrpläne stehen bisher zur Verfügung: </h5>	
	<!-- Liste noch sortieren!! -->
	<table border="1" cellpadding="5">
			<th>Land</th>
			<th>Bundesland</th>
			<th>Schulart</th>
			<th>Zweig</th>
			<th>Jahrgangsstufe</th>
			<th>Fach</th>
			<th>Lehrplan</th>
		<% @curriculums.each do |cur| %>
		<tr id=<%= cur.id%>>
			<td><%= cur.country %></td>
			<td><%= cur.state %></td>
			<td><%= cur.typeOfSchool %></td>
			<td><%= cur.profession %></td>
			<td><%= cur.level %></td>
			<td><%= cur.subject %></td>
			<td><%= link_to "anzeigen", cur %> 
				<%= link_to "bearbeiten", edit_curriculum_path(cur) %>
				<%= link_to "löschen", cur, :remote => true, :method => :delete, :confirm => "Wollen Sie diesen Datensatz wirklich löschen?" %>
				
			</td>
		</tr>
		<% end %>
	</table>
	
	<% if @curriculums.empty? %>
	<br />
	<br />
	<em>Keine Lehrpläne vorhanden!</em>
	<% end %>
</div>
