<h1>Willkommen beim Lehrplan!</h1>
<br />
<br />
<div class="col span_1_of_3">
	<h5>Sie haben nun folgende Möglichkeiten:</h5>
	<%= link_to 'Neuen Lehrplan anlegen', new_curriculum_path %><br />
	Lehrplan ändern<br />
	Im Lehrplan suchen<br />
</div>
<div class="col span_2_of_3">
	
	<% curriculums = Curriculum.all %>
	
	<h5>Folgende Lehrpläne stehen bisher zur Verfügung: </h5>	
	<!-- Liste noch sortieren!! -->
	<table border="1" cellpadding="5">
			<th>Land</th>
			<th>Bundesland</th>
			<th>Schulart</th>
			<th>Zweig</th>
			<th>Jahrgangsstufe</th>
			<th>Fach</th>
			<th>Lehrplan</th>
		</tr>
		<% curriculums.each do |cur| %>
		<tr>
			<td><%= cur.country %></td>
			<td><%= cur.state %></td>
			<td><%= cur.typeOfSchool %></td>
			<td><%= cur.profession %></td>
			<td><%= cur.level %></td>
			<td><%= cur.subject %></td>
			<td><%= link_to "anzeigen", cur %> 
				<%= link_to "bearbeiten", cur, :method => :update %>
				<%= link_to "löschen", cur, :method => :delete, :confirm => "Wollen Sie diesen Datensatz wirklich löschen?" %>
				
			</td>
		</tr>
		<% end %>
	</table>
	
	<% if curriculums.empty? %>
	<br />
	<br />
	<em>Keine Lehrpläne vorhanden!</em>
	<% end %>
</div>
