<h3>Lehrplan in <%= @curriculum.subject %>, <%= @curriculum.state %> (<%= @curriculum.country %>) der <%= @curriculum.level %>. Jahrgangsstufe 
	am <%= @curriculum.typeOfSchool %> 
	<% if @curriculum.profession == nil %>
	<% else %>
		(Zweig: <%= @curriculum.profession %>)
	<% end %> 
</h3>
<br />
Tabelle, die alle Items, die dem o.g. Lehrplan zugeordnet sind, auflistet <br />
Das kommt in einem zweiten Schritt, wenn die Klasse Items verabschiedet wird.
