<h3>Lehrplan für <%= @curriculum.subject %> der <%= @curriculum.level %>. Jahrgangsstufe <%= @curriculum.typeOfSchool %> in <%= @curriculum.state %> (<%= @curriculum.country %>) <br />
	<% if @curriculum.profession.blank? %>
	<% else %>
		(Zweig: <%= @curriculum.profession %>)
	<% end %> 
</h3>
<br />
<p id="notice"><%= notice %></p>
<%= link_to 'Lehrplan bearbeiten', edit_curriculum_path(@curriculum) %> | 
Lehrplan löschen | 
<%= link_to 'Neuen Lehrplaninhalt hinzufügen', new_curriculum_item_path(@curriculum) %><br />
<br />
<table border="1" cellpadding="5">
    <tr bgcolor="grey">
      <th>Titel, Stundenaufwand</th>
      <th>Funktionen</th>
    </tr>
    <tr><td colspan="2"></td></tr>
    <tr>
      <% @curriculum.items.each do |curitem| %> 
        <td bgcolor="lightgrey"><%= curitem.title %>, <%= curitem.hours %> Stunde(n) </td>
        <td bgcolor="lightgrey">
            <%= link_to 'bearbeiten', edit_curriculum_item_path(@curriculum, curitem) %> | 
            <%= link_to 'löschen', curitem, method: :delete, data: { confirm: 'Bist du dir sicher?' } %> |
        	<%= link_to 'Neuen Stichpunkt hinzufügen' %>
        </td>
    </tr>
    <tr><td colspan="3"><%= curitem.descriptionOfContent %></td></tr>
    <tr><td colspan="3"></td></tr>
    <% end %>
    </tr>
</table>
<br />

<%= link_to 'zur Übersicht', curriculums_path %>
