<h3>Lehrplan für <%= @curriculum.subject %> der <%= @curriculum.level %>. Jahrgangsstufe <%= @curriculum.typeOfSchool %> in <%= @curriculum.state %> (<%= @curriculum.country %>) <br />
	<% if @curriculum.profession.blank? %>
	<% else %>
		(Zweig: <%= @curriculum.profession %>)
	<% end %> 
</h3>

<br />

<p id="notice"><%= notice %></p>

<%= link_to 'Lehrplan bearbeiten', edit_curriculum_path(@curriculum) %> | 
<%= link_to "Lehrplan löschen", curriculum_path(@curriculum, :authenticity_token => form_authenticity_token), :remote => true, :method => :delete, :data => { :confirm => 'Wollen Sie diesen Datensatz wirklich löschen?' } %> | 
<%= link_to 'Neuen Lehrplaninhalt hinzufügen', new_curriculum_item_path(@curriculum) %><br />

<br />

<table border="1" cellpadding="5" width="50%">
	
    <tr bgcolor="grey">
      <th>Titel, Stundenaufwand</th>
      <th width="50%">Funktionen</th>
    </tr>
    
    <tr>
    	<td colspan="2"></td>
    </tr>
    
    <% @curriculum.items.order(:title).each do |curitem| %> 

    <table id=<%= curitem.id%> width="50%" border="1" cellpadding="5" >
    	<tr>	
          <td bgcolor="lightgrey">
        	<%= curitem.title %>, <%= curitem.hours %> Stunde(n) 
          </td>
          <td bgcolor="lightgrey" width="50%">
            <%= link_to 'bearbeiten', edit_curriculum_item_path(@curriculum, curitem) %> | 
            <%= link_to "löschen", curriculums_path(@curriculum, curitem, :authenticity_token => form_authenticity_token), :remote => true, :method => :delete, :data => { :confirm => 'Wollen Sie diesen Datensatz wirklich löschen?' } %>  | 
			<%= link_to 'Stichwörter verwalten', addContent_path(@curriculum, curitem) %>
          </td>        
        </tr>
    
       <tr>
      	<td colspan="3">
    	  <%= curitem.descriptionOfContent %>
    	  <p>&nbsp;</p>
    	  <% curitem.contents.each do |contentlist| %>
    	  <ul class="list-unstyled">
    		<ul><li><%= contentlist.tag %></li></ul>
    	  </ul>
          <% end %>
    	</td>
       </tr>
    </table>
    
    
    <% end %>
    
</table>

<br />

<%= link_to 'zur Übersicht', curriculums_path %>
