<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2>Wegen folgender Fehler konnte deine Frage nicht gespeichert werden:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, placeholder: 'Überschrift eingeben' %>
  </div>
  <div class="field">
    <%= f.text_area :text, placeholder: 'Gib deine Frage hier ein' %>
  </div>
  <div class="actions">
    <%= f.submit 'Frage abschicken' %>
  </div>
<% end %>
