<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </div>
  <div class="field">
    <%= f.label :Thema %><br>
    <!--
    :knowledge_element_id => Übergabe zu Controller
    :id => Werte, der übergeben wird (welchen value haben die sichtbaren Zeilen)
    :name => Felderbezeichnungen des Drop-Downs (was sieht man)
    -->
    <%= f.collection_select :knowledge_element_id, KnowledgeElement.order(:name),:id, :name, prompt: 'Wähle ein Thema' %>
  </div>
  <div class="actions">
    <%= f.submit 'Frage erstellen' %>
  </div>
<% end %>
