<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </div>
  <div class="field">
    <% collection_select(:knowledge_element, :name, KnowledgeElement.all.collect, :id, :name, {:prompt => true}) %>
    <%= f.collection_select :id, KnowledgeElement.order(:name),:id, :name, prompt: 'Wähle ein KE' %>
    collection_select("knowledge_element", "name", KnowledgeElement.all.collect {|p| [ p.name, p.id ] }, {prompt: 'Select Person'})
    select("post", "person_id", Person.all.collect {|p| [ p.name, p.id ] }, {prompt: 'Select Person'})
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </div>
  <div class="actions">
    <%= f.submit 'Frage erstellen' %>
  </div>
<% end %>
