<p id="notice"><%= notice %></p>

<p>
  <strong>Überschrift:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Frage:</strong>
  <%= @question.text %>
</p>

<p>
	Gefragt von <%= @question.user_name %> am <%= @question.created_at %>
</p>

<div id='thread'>
<%= render 'thread'%>
</div>

<div>
	<%= form_for [@question, @answer], :remote => true do |f| %>
	  <% if @answer.errors.any? %>
	    <div id="error_explanation">
	      <h2>Wegen folgender Fehler konnte deine Antwort nicht gespeichert werden:</h2>
	
	      <ul>
	      <% @answer.errors.full_messages.each do |msg| %>		        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	
	  <% if @answers.empty? %>
	  	Frage beantworten:
  	  <% else %>
  	  	Eigene Antwort hinzufügen:
	  <% end %>
	
	  <div class="field">
	    <%= f.text_field :text %>
	  </div>
	  <div class="actions">
	    <%= f.submit 'Antwort abschicken' %>
	  </div>
	<% end %>
</div>

<%= link_to 'Zurück', questions_path %>
