<p id="notice"><%= notice %></p>

<p>
  <strong><%= @question.title %></strong>
</p>

<p>
  <%= @question.text %>
</p>

<p>
	<i>Gefragt von <%= @question.user_name %> am <%= @question.created_at %></i>
</p>

<div id='thread'>
<%= render 'thread'%>
</div>

<table>
  <thead>
  <tr>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    # TODO: question_id muss definiert werden
    <td><%= button_to 'Frage beantworten', new_answer_path, :method => "get" %></td>
    # TODO: kein edit im question controller
    <td><%= button_to 'Frage bearbeiten', edit_question_path, :method => "get" %></td>
  </tr>
  </tbody>
</table>

<table>
  <thead>
  <tr>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    # TODO: Frage löschen und alle unterfragen müssen gelöscht werden (model dependent destroy)
    <td><%= button_to 'Frage löschen', question_path, {:method => "delete", :id => @question.id, data: { confirm: "Bist Du sicher?"}} %></td>
    <td><%= button_to 'Zurück', questions_path, :method => "get" %></td>
  </tr>
  </tbody>
</table>
