<p id="notice"><%= notice %></p>

<p>
  <strong>Überschrift:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Frage:</strong>
  <%= @question.text %>
</p>

<p>
	Gefragt von <%= @question.user_name %> am <%= @question.created_at %>
</p>

<div id='thread'>
<%= render 'thread'%>
</div>

<%= render 'addanswer' %>

<%= link_to 'Zurück', questions_path %>
