<%= form_for(@materiallink) do |f| %>
  <% if @materiallink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@materiallink.errors.count, "error") %> prohibited this materiallink from being saved:</h2>

      <ul>
      <% @materiallink.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :Thema %><br>
    <%= f.collection_select :knowledge_element_id, KnowledgeElement.order(:name), :id, :name, prompt: 'Wähle ein Thema' %>
  </div>
  <div class="actions">
    <%= f.submit 'Link erstellen' %>
  </div>
<% end %>
