<p id="notice"><%= notice %></p>

<p>
  <strong>Titel:</strong>
  <%= @materiallink.title %>
</p>

<p>
  <strong>Link:</strong>
  <%= @materiallink.link %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @user_author_name %>
</p>

<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= button_to 'Bearbeiten', edit_materiallink_path, {:method => "get", :id => @materiallink.id} %></td>
        <td><%= button_to 'Löschen', materiallink_path, {:method => "delete", :id => @materiallink.id} %></td>
        <td><%= button_to 'Zurück', materials_path, :method => "get" %></td>
      </tr>
  </tbody>
</table>

<!--
%= link_to 'Bearbeiten', edit_materiallink_path(@materiallink) %> |
%= link_to 'Löschen', materiallink_path, method: :delete, data: { confirm: 'Bist du sicher?' } %> |
%= link_to 'Zurück', materials_path %>
-->