<%= form_for @assessment, :html => {:onsubmit => "return validateForm();"} do |f| %>

    <table cellspacing="10" cellpadding="20">
      <tr>
        <th>Note 1:</th> <th><%= @assessment.max_points%></th> <th> - </th> <th> <div class="span1"><%= f.number_field :min_points_1, id:"min_points_1", :input_html => {:maxlength => 3, :size => 1} %></div> </th>

      </tr>
      <tr>
        <th>Note 2:</th> <th> </th> <th> - </th> <th> <div class="span1"><%= f.number_field :min_points_2, id:"min_points_2", :input_html => {:maxlength => 3, :size => 1} %></div> </th>

      </tr>
      <tr>
        <th>Note 3:</th> <th></th> <th> - </th> <th> <div class="span1"><%= f.number_field :min_points_3, id:"min_points_3", :input_html => {:maxlength => 3, :size => 1} %></div> </th>

      </tr>
      <tr>
        <th>Note 4:</th> <th></th> <th> - </th> <th> <div class="span1"><%= f.number_field :min_points_4, id:"min_points_4", :input_html => {:maxlength => 3, :size => 1} %></div> </th>

      </tr>
      <tr>
        <th>Note 5:</th> <th></th> <th> - </th> <th> <div class="span1"><%= f.number_field :min_points_5, id:"min_points_5", :input_html => {:maxlength => 3, :size => 1} %></div> </th>

      </tr>
      <tr>
        <th>Note 6:</th> <th></th> <th> - </th> <th> 0 </th>

      </tr>


    </table>

    <div id="title_field" class="row-fluid">
      <div class="span10"><%= f.hidden_field :title, placeholder:"Gib hier einen Titel ein...", maxlength:"40", style:"width:100%; height:100%;" %></div>
    </div>

    <div id="description_field" class="row-fluid">
      <div class="span10"><%= f.hidden_field :description, placeholder:"Gib hier eine Beschreibung ein...", maxlength:"1000", style:"width:100%; height:60px; resize:vertical;" %></div>
    </div>

    <div id="tags_field" class="row-fluid">
      <div class="span10"><%= hidden_field_tag :tags, @assessment.tags, placeholder:"Gib hier passende Tags ein...", maxlength:"1000", style:"width:100%; height:100%;" %></div>
    </div>

    <div id="save_button" class="row-fluid">
      <div class="span10 offset2"><%= f.submit "Notenschlüssel speichern", class:"btn btn-xs btn-success", style:"width:20%" %></div>
      </div>
        </div>
      </div>
    </div>

    <script>

        function validateForm(){
            var min_points_1 = +document.getElementById('min_points_1').value;
            var min_points_2 = +document.getElementById('min_points_2').value;
            var min_points_3 = +document.getElementById('min_points_3').value;
            var min_points_4 = +document.getElementById('min_points_4').value;
            var min_points_5 = +document.getElementById('min_points_5').value;

            if (min_points_1 == null || min_points_1 <= 0 || min_points_1 > <%= @assessment.max_points %>){
                alert('Bitte gib einen gültigen Notenschlüssel ein!');
                return false;
            } else if (min_points_2 == null || min_points_2 <= 0 || min_points_2 > min_points_1){
                alert('Bitte gib einen gültigen Notenschlüssel ein!');
                return false;
            } else if (min_points_3 == null || min_points_3 <= 0 || min_points_3 > min_points_2) {
                alert('Bitte gib einen gültigen Notenschlüssel ein!');
                return false;
            } else if (min_points_4 == null || min_points_4 <= 0 || min_points_4 > min_points_3) {
                alert('Bitte gib einen gültigen Notenschlüssel ein!');
                return false;
            } else if (min_points_5 == null || min_points_5 <= 0 || min_points_5 > min_points_4){
                alert('Bitte gib einen gültigen Notenschlüssel ein!');
                return false;
            } else{
                return true;
            }
        }

    </script>

<% end %>

<div class="span2">
  <%= button_to @assessment, :method => :get, class:"btn btn-xs btn-primary", style:"width:100%;" do %>
      <span class="glyphicon glyphicon-arrow-left"></span> zurück
  <% end %>
</div>