<% if (@assessment.min_points_1 == 0 || @assessment.min_points_2.nil?) %>
    <div class="container-fluid" style="height: 100px;" style = "font-size: 1.2em">


          <h3>Zur Prüfung <%= @assessment.title %> gibt es noch keinen Notenschlüssel.</h3>
        </div>
      </div>
    </div>


<% else %>

<table cellspacing="10" cellpadding="20">

  <tr>
    <th>Note 1:</th>
    <th><%= @assessment.max_points %> </th>
    <th>-</th>
    <th><%= @assessment.min_points_1 %></th>
  </tr>

  <tr>
    <th>Note 2:</th>
    <th><%= (@assessment.min_points_1)-1 %> </th>
    <th>-</th>
    <th><%= @assessment.min_points_2 %></th>
  </tr>

  <tr>
    <th>Note 3:</th>
    <th><%= (@assessment.min_points_2)-1 %> </th>
    <th>-</th>
    <th><%= @assessment.min_points_3 %></th>
  </tr>

  <tr>
    <th>Note 4:</th>
    <th><%= (@assessment.min_points_3)-1 %> </th>
    <th>-</th>
    <th><%= @assessment.min_points_4 %></th>
  </tr>

  <tr>
    <th>Note 5:</th>
    <th><%= (@assessment.min_points_4)-1 %> </th>
    <th>-</th>
    <th><%= @assessment.min_points_5 %></th>
  </tr>


  <tr>
    <th>Note 6:</th>
    <th><%= (@assessment.min_points_5)-1 %> </th>
    <th>-</th>
    <th> 0 </th>
  </tr>

</table>

    </div>

<% end %>

<div class="span2">
  <%= button_to @assessment, :method => :get, class:"btn btn-xs btn-primary", style:"width:100%;" do %>
      <span class="glyphicon glyphicon-arrow-left"></span> zurück
  <% end %>
</div>