<h1>Liste der Schlagwörter</h1>

<table cellpadding="5" border="1">
  <thead>
    <tr>
      <th>Schlagwort</th>
      <th>Funktionen</th>
    </tr>
  </thead>

  <tbody>
    <% @contents.each do |content| %>
      <tr>
        <td><%= content.tag %></td>
        <td><%= link_to 'anzeigen', content %> 
        <%= link_to 'bearbeiten', edit_content_path(content) %> 
        <%= link_to 'löschen', content, method: :delete, data: { confirm: 'Bist du dir sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neues Schlagwort', new_content_path %>
