<h1>Liste der Schlagwörter</h1>

<p id="notice"><%= notice %></p>

<table cellpadding="5" border="1">
  <thead>
    <tr>
      <th>Schlagwort</th>
      <th>Funktionen</th>
    </tr>
  </thead>

  <tbody>
    <% @contents.each do |content| %>
      <tr id=<%= content.id%>>
        <td><%= content.tag %></td>
        <td>
        <%= link_to 'bearbeiten', edit_content_path(content) %> 
        <%= link_to "löschen", content_path(content, :authenticity_token => form_authenticity_token), :remote => true, :method => :delete, :confirm => "Wollen Sie diesen Datensatz wirklich löschen?" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neues Schlagwort', new_content_path %> <br />
<%= link_to 'zurück zur Lehrplanübersicht', curriculums_path %>