<% if Subexercise.where(moderated: FALSE).count == 0 then %>
	<h3> <%=Subexercise.where(moderated: FALSE).count %></h3>
<% else %>
<table class="table table-striped table-condensed">
    <h3> Noch nicht bestätigte Teilaufgaben: </h3>
	<thead>
		<tr>
			<th>Aufgabentext</th>
            <th>Teilaufgabe</th>
			<th>Punkte</th>
            <th>Lösung</th>
            <th>Autor</th>
			<th>Aufgabe inspizieren</th>
		</tr>
	</thead>	
	<tbody>
		<% Subexercise.all.each do |s| %>
        <% if !s.moderated && s.active then %>
			<tr>
                <td><%= Exercise.find(s.exercise_id).description %></td>
				<td><%= s.text %></td>
				<td><%= s.points %></td>
                <td><%= if Solution.where(subexercise_id: s.id).count > 0 then
                          Solution.where(subexercise_id: s.id).first.solution else Solution.where(subexercise_id: s.id).count end %></td>
                <td><% if User.find(session[:current_user_id]).admin || User.find(session[:current_user_id]).teacher then %>
                      <%= if s.user_id != nil then User.find(s.user_id).username end %>
                <% end %>
                <td>
                    <%= button_to edit_exercise_subexercise_path(s.exercise, s),
                                  :method => :get, class:"btn btn-xs btn-warning" do %>
                        <span class="glyphicon glyphicon-pencil"></span>
                    <% end %>
                </td>
				</td>
			</tr>
		<% end %>
        <% end %>
	</tbody>
</table>
<% end %>
