<div style="text-indent: 30px"> <p id="notice"><%= notice %></p>

<p>
  <h5>Klausur zum Thema <%= KnowledgeElement.find_by_id(@progress.knowledge_element_id).name %></h5>
</p>

<p>
  <i>Geschrieben von <%= User.find_by_id(@progress.learner_id).username%> mit ID
  <%= User.find_by_id(@progress.learner_id).id%> am <%= @progress.created_at%>.</i>
</p>


<p>
  <h3>Bearbeitung:</h3>
<%if @progress.subexercise1_id.blank?%>
<%else%>
    <h5>Aufgabe 1:
    <%=Exercise.find_by_id(Subexercise.find_by_id(@progress.subexercise1_id).exercise_id).title  %></h5>
    <div style="text-indent: 30px"><%=Exercise.find_by(Subexercise.find_by_id(@progress.subexercise1_id).exercise_id).description %></div>
    <div style="text-indent: 30px"><%=Subexercise.find_by_id(@progress.subexercise1_id).text %></div><br>
    <div style="text-indent: 30px"><strong><%= @progress.submission1%></strong></div><br><br>
<%end%>


<%if @progress.subexercise2_id.blank?%>
<%else%>
    <h5>Aufgabe 2:
    <%=Exercise.find_by_id(Subexercise.find_by_id(@progress.subexercise2_id).exercise_id).title  %></h5>
    <div style="text-indent: 30px"><%=Exercise.find_by(Subexercise.find_by_id(@progress.subexercise2_id).exercise_id).description %></div>
    <div style="text-indent: 30px"><%=Subexercise.find_by_id(@progress.subexercise2_id).text %></div><br>
    <div style="text-indent: 30px"><strong><%= @progress.submission2%></strong></div><br><br>
<%end%>


<%if @progress.subexercise3_id.blank?%>
<%else%>
    <h5>Aufgabe 3:
    <%=Exercise.find_by_id(Subexercise.find_by_id(@progress.subexercise3_id).exercise_id).title  %></h5>
    <div style="text-indent: 30px"><%=Exercise.find_by(Subexercise.find_by_id(@progress.subexercise3_id).exercise_id).description %></div>
    <div style="text-indent: 30px"><%=Subexercise.find_by_id(@progress.subexercise3_id).text %></div><br>
    <div style="text-indent: 30px"><strong><%= @progress.submission3%></strong></div><br><br>
<%end%>
</p>

<p>
<%if @progress.grade.blank?%>
<%else%>
  <t>Der Schüler <%= User.find_by_id(@progress.learner_id).username%> hat auf seine Bearbeitung die Note <strong><%=@progress.grade%></strong> erhalten.</t>
      <%end%>
</p>

<p>
  <%if @progress.explanation.blank?%>
  <%else%>
        <t>Begründung: <%= @progress.explanation%></t>
  <%end%>
</p>



<%= button_to 'Zur Leistungsübersicht', progresses_path, :method => "get", class:"btn btn-xs btn-primary"%>

</div>