<p id="notice"><%= notice %></p>

<p>
  <i>Klausur zum Thema <%= KnowledgeElement.find_by_id(@progress.knowledge_element_id).name %></i>
</p>

<p>
  <i>Geschrieben von <%= User.find_by_id(@progress.learner_id).username%> mit ID
  <%= User.find_by_id(@progress.learner_id).id%> am <%= @progress.created_at%></i>
</p>


<p>
  <h3>Bearbeitung:</h3>
<%if @progress.subexercise1_id.blank?%>
<%else%>
    <h5><t>Aufgabe 1:</t>
    <%=Exercise.find_by_id(Subexercise.find_by_id(@progress.subexercise1_id).exercise_id).title  %></h5>
    <%=Exercise.find_by(Subexercise.find_by_id(@progress.subexercise1_id).exercise_id).description %><br>
    <%=Subexercise.find_by_id(@progress.subexercise1_id).text %><br>
    <%= @progress.submission1%>
<%end%>


<%if @progress.subexercise2_id.blank?%>
<%else%>
    <h5><t>Aufgabe 2:</t>
    <%=Exercise.find_by_id(Subexercise.find_by_id(@progress.subexercise2_id).exercise_id).title  %></h5>
    <%=Exercise.find_by(Subexercise.find_by_id(@progress.subexercise2_id).exercise_id).description %><br>
    <%=Subexercise.find_by_id(@progress.subexercise2_id).text %><br>
    <%= @progress.submission2%>
<%end%>


<%if @progress.subexercise3_id.blank?%>
<%else%>
    <h5><t>Aufgabe 3:</t>
    <%=Exercise.find_by_id(Subexercise.find_by_id(@progress.subexercise3_id).exercise_id).title  %></h5>
    <%=Exercise.find_by(Subexercise.find_by_id(@progress.subexercise3_id).exercise_id).description %><br>
    <%=Subexercise.find_by_id(@progress.subexercise3_id).text %><br>
    <%= @progress.submission3%>
<%end%>

</p>

<table>
  <thead>
  <tr>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
  </tr>
  </tbody>
</table>


<%#=@a=User.find_by_username("admin").id %>
<%#= @learner_name = "admin" %>
<%#= @learner_id2 = User.where(:username => @learner_name) %>
<%#= @learner_id2.first.id%>

<%#= link_to 'Edit', edit_progress_path(@progress) %>
<%= link_to 'Back', progresses_path %>
