<h1>Listing materialtexts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @materialtexts.each do |materialtext| %>
      <tr>
        <td><%= materialtext.title %></td>
        <td><%= materialtext.text %></td>
        <td><%= materialtext.user_id %></td>
        <td><%= link_to 'Show', materialtext %></td>
        <td><%= link_to 'Edit', edit_materialtext_path(materialtext) %></td>
        <td><%= link_to 'Destroy', materialtext, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Materialtext', new_materialtext_path %>
