<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @materialtext.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @materialtext.text %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @user_author_name %>
</p>

<%= link_to 'Editieren', edit_materialtext_path(@materialtext) %> |
<%= link_to 'Löschen', materialtext_path, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Zurück', materials_path %>
