<p id="notice"><%= notice %></p>

<p>
  <%= KnowledgeElement.find_by_id(@materialtext.knowledge_element_id).name %>
</p>

<p>
  <strong> <%= @materialtext.title %> </strong>
</p>

<p>
  <%= @materialtext.text %>
</p>

<p>
  <i>Erstellt von <%= User.find_by(@materialtext.user_id).username %> am <%= @materialtext.created_at %></i>
</p>

<table>
  <thead>
  <tr>
    <th></th>
  </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= button_to 'Bearbeiten', edit_materialtext_path, {:method => "get", :id => @materialtext.id} %></td>
        <td><%= button_to 'Löschen', materialtext_path, {:method => "delete", :id => @materialtext.id, data: { confirm: "Bist Du sicher?"}} %></td>
        <td><%= button_to 'Zurück', materials_path, :method => "get" %></td>
      </tr>
  </tbody>
</table>

<!--
%= link_to 'Bearbeiten', edit_materialtext_path(@materialtext) %> |
%= link_to 'Löschen', materialtext_path, method: :delete, data: { confirm: 'Bist du sicher?' } %> |
%= link_to 'Zurück', materials_path %>
-->