<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @materialtext.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @materialtext.text %>
</p>

<p>
  <strong>User:</strong>
  <%= @user.find_by(id: @materialtext.user_id).username %>
</p>

<%= link_to 'Edit', edit_materialtext_path(@materialtext) %> |
<%= link_to 'Back', materialtexts_path %>
