<%= form_for([@curriculumID, @learningUnit]) do |f| %>
 <%= render "display_errors" %>

  <div class="field">
    <%= f.label :curriculum_id, "Lehrplan" %>
	<%= f.select :curriculum_id, [@curriculumID.id] %>
  </div>
  <div class="field">
    <%= f.label :title, "Titel*" %><br>
    <%= f.text_field :title, placeholder:"Titel" %>
  </div>
  <div class="field">
    <%= f.label :hours, "Stundenaufwand" %><br>
    <%= f.number_field :hours, placeholder:"Stundenaufwand" %>
  </div>
  <div class="area">
    <%= f.label :descriptionOfKnowledgeElement, "Lehrplaninhaltsbeschreibung*" %><br>
    <%= f.text_area :descriptionOfKnowledgeElement, placeholder:"Lehrplaninhaltsbeschreibung" %>
  </div>
  <div class="actions">
    <%= f.submit "Lehrplaninhalt speichern" %>
  </div>
<% end %>
