<h1>Anmelden</h1>
<% if flash[:notice] %>
    <div class="notice" style="color: red"><%= flash[:notice] %></div>
 <% end %>
 <br />
  <%= form_tag logins_path do %>
    <div class="field">
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email] %>
    </div>
    <div class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <div class="actions"><%= submit_tag "Anmelden" %></div>
  <% end %>
  
  <%= link_to 'Oder doch ein Profil anlegen?', new_user_path %>
