<div class="container-fluid">

  <div class="col-sm-9"><div class="row-fluid"><h1>Topics</h1></div></div>

  <div class="col-sm-9">

    <div class="panel panel-primary">
      <div class="panel-body" id="knowledgeelements_list">
        <div class="row-fluid">
          <div class="span3" style="padding-top: 20px"> <!-- link to creating new knowledgeElement -->
            <%= button_to new_topic_path, :method => :get, class:"btn btn-xs btn-primary" do %>
                <span class="glyphicon glyphicon-plus"></span> Neues Topic
            <% end %>
          </div>
        </div>
      </div>
      <table class="table table-striped">
        <thead>
        <tr><strong>
          <th width="20%"> Name des Topics </th>
          <th width="15%"> Zugeordnetes Fach</th>
          <th> Beschreibung </th>
        </strong></tr>
        </thead>

        <tbody>
        <% @topics.each do |top| %>
            <tr>
              <!-- show title, author, and creation date for each exercise -->
              <td> <%= link_to top.name, top %> </td>
              <td> <%= top.subject %></td>
              <td> <%= top.description %></td>
              <td width="100">
                <%= button_to 'Löschen', {:action => "destroy", :id => top.id}, :confirm => 'Are you sure?', :method => "delete",
                              :remote => true, :disable_with => 'loading...', class: "btn btn-xs btn-primary"%></td>
            </tr>
        <% end %>
        </tbody>

      </table>
    </div>
  </div>


</div> <!-- /col-sm-9 -->
</div> <!-- /container-fluid -->


</div> <!-- /col-sm-9 -->


</div> <!-- /container-fluid -->




