<div class="container-fluid">

  <div class="col-sm-9"><div class="row-fluid"><h1><%= @topic.name %></h1></div></div>

  <div class="col-sm-9">

    <div class="panel panel-primary">
      <div class="panel-body" id="knowledgeelements_list">
        <div class="row-fluid">

        </div>
      </div>

      <%= @topic.description %>

      </br>
      </br>
Zum Themengebiet gehörige Lerneinheiten
      <table class="table table-striped">
        <thead>
        <tr><strong>
          <th width="30%"> Name der Lerneinheit </th>
          <th width="70%"> Beschreibung </th>
        </strong></tr>
        </thead>

        <tbody>
        <% @knowledgeElements.each do |ke| %>
            <tr>
              <!-- show title, author, and creation date for each exercise -->
              <td> <%= link_to ke.name, ke %> </td>
              <td> <%= ke.description %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>


</div> <!-- /col-sm-9 -->
</div> <!-- /container-fluid -->


</div> <!-- /col-sm-9 -->


</div> <!-- /container-fluid -->






<td width="300"></td><%= button_to 'Zurück zur Übersicht', topics_path, :method => :get, class:"btn btn-xs btn-primary"%></td>
