<% if @current_user.admin? %>
<div class="container-fluid">


  <div class="col-sm-9"><div class="row-fluid"><h1>Preconditions</h1></div></div>
  <div class="col-sm-9">



    <div class="panel panel-primary">

      <% if @preconditions != nil%>
          <p>
            Sie haben <%= @preconditions.count %> Preconditions
          </p>
          <table class="table table-striped">
            <thead>
            <tr><strong>
              <th width="50%"> Parent LearningObjective </th>
              <th> Child LearningObjective </th>
            </strong></tr>
            </thead>

            <% @preconditions.each do |p| %>
              <tbody>
               <tr>
                 <td><%=p.parent_learning_objective.cognitiveDimension_to_s%> <%= link_to p.parent_learning_objective.knowledge_element.name, p.parent_learning_objective.knowledge_element%></td>
                 <td><%=p.learning_objective.cognitiveDimension_to_s%> <%=link_to p.learning_objective.knowledge_element.name, p.learning_objective.knowledge_element%></td>
                 <td>
                   <%= button_to 'Löschen', {:action => "destroy", :id => p.id}, :confirm => 'Are you sure?', :method => "delete",
                                 :remote => true, :disable_with => 'loading...', class: "btn btn-xs btn-primary"%>
                   <%#= button_to ("löschen", :id => ke.id, :method => :delete, data: {confirm: "Are you sure?"},
                                               :remote => true, :disable_with => 'loading...'")
                   %></td>
               </tr>
              </tbody>
            <%end%>
          </table>



      <%else%>
          <p>
            Diese Precondition existiert nicht
          </p>
      <%end%>


      <p>
        <%= link_to 'Zurück zur Übersicht', preconditions_path%>
      </p>
    </div>
  </div>


</div> <!-- /col-sm-9 -->
</div> <!-- /container-fluid -->


</div> <!-- /col-sm-9 -->


</div>
<%end%>