<% if @current_user.admin? || @current_user.teacher? %>
<div class="container-fluid">


  <div class="col-sm-9"><div class="row-fluid"><h1>Lernvoraussetzungen</h1></div></div>
  <div class="col-sm-9">



    <div class="panel panel-primary">

      <% if @preconditions != nil%>
          <table class="table table-striped">
            <thead>
            <tr><strong>
              <th width="50%"> Parent Learning Objective </th>
              <th> Child Learning Objective </th>
            </strong></tr>
            </thead>

            <% @preconditions.each do |p| %>
              <tbody>
               <tr>
                 <td><%=p.parent_learning_objective.cognitiveDimension_to_s%> <%= link_to p.parent_learning_objective.knowledge_element.name, p.parent_learning_objective.knowledge_element%></td>
                 <td>
                   <%if !p.learning_objective.nil?%>
                    <%=p.learning_objective.cognitiveDimension_to_s%> <%=link_to p.learning_objective.knowledge_element.name, p.learning_objective.knowledge_element%></td>
                   <%end%>
                  <td>
                    <%= button_to precondition_path(p.id),  :method => :delete,
                                  data:{confirm:"Willst Du diese Precondition wirklich loeschen?"}, class:"btn btn-xs btn-danger" do %>
                        <span class="glyphicon glyphicon-trash"></span>
                    <%end%></td>
               </tr>
              </tbody>
            <%end%>
          </table>



      <%else%>
          <p>
            Es existiert noch keine Lernvoraussetzungen
          </p>
      <%end%>



    </div>
    <p>
      <%= link_to 'Zurück zur Übersicht', preconditions_map_path%>
    </p>
  </div>


</div> <!-- /col-sm-9 -->
</div> <!-- /container-fluid -->


</div> <!-- /col-sm-9 -->


</div>
<%end%>