<% if @current_user.admin? %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10"><h2>Precondition anlegen</h2></div>
    <div class="span2"><%= button_to "zurück", knowledge_elements_path, :method => :get, class:"btn btn-xs btn-primary", style:"width:100%"%></div>
  </div>

  <% if @preconditions.to_s.length == 0 then %>
      <div id="notice"> Noch keine Preconditions vorhanden!</div>
  <% end %>
  <%= form_for :precondition, url: knowledge_element_learning_objective_preconditions_path do |f| %>
      <div class="container-fluid">
        <div class="panel panel-primary">
          <div class="panel-body">
            <div id="necessity_field" class="row-fluid">
              <table class="table table-striped">
                <tr>
                  <td><%= f.radio_button :necessity, 'true', :checked => true%><%= f.label :necessity, 'Notwendige Voraussetzung'%></td>
                  <td><%= f.radio_button :necessity, 'false'%><%= f.label :necessity, 'Pädagogische Voraussetzung'%></td>
                </tr>
              </table>
            </div>
            <div id="parent_learning_objective_field" class="row-fluid">
              <table class="table table-striped">
                <tbody>

                <% @knowledgeElements.each do |ke| %>
                    <tr>
                      <!-- show name of the KnowledgeElement the LearningObjectives belong to -->
                      <td><strong><%= ke.name %></strong> </td>
                      <!-- list the CognitiveDimensions of the Learning Objectives, click on creates new precondition -->
                      <% ke.learning_objectives.each do |lo| %>
                          <td>
                            <%= f.radio_button :parent_learning_objective_id,  lo.id %><%= f.label :parent_learning_objective_id, lo.cognitiveDimension_to_s%>
                          </td>
                      <%end%>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>

            <div id="save_button" class="row-fluid">
              <div class="span10 offset2"><%= f.submit "Precondition speichern", class:"btn btn-xs btn-success", style:"width:100%" %></div>
            </div>
          </div>
        </div>
      </div>


  <% end %>
</div>
<%end%>
