<%= form_for(@newsfeed) do |f| %>
  <% if @newsfeed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newsfeed.errors.count, "error") %> prohibited this newsfeed from being saved:</h2>

      <ul>
      <% @newsfeed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Betreff %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :Nachricht %><br>
    <%= f.text_field :message %>
  </div>
  <div class="field">
    <%= f.label :an_alle_senden? %><br>
    <%= f.check_box :newsfeedToAll %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
