<%= form_for(@newsfeed) do |f| %>
  <% if @newsfeed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newsfeed.errors.count, "error") %> prohibited this newsfeed from being saved:</h2>

      <ul>
      <% @newsfeed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% else %>
    <div class="container-fluid">
      <div class="panel panel-primary">
        <div class="panel-body">
          <div id="subject_field" class="row-fluid">
            <div class="span1"><b><%= f.label :subject, "Betreff" %></b></div>
            <div class="span11"><%= f.text_field :subject, style:"width:100%; height:100%;" %></div>
          </div>
          <div id="message_field" class="row-fluid">
            <div class="span1"><%= f.label :message, "Inhalt" %></div>
            <div class="span11"><%= f.text_area :message, style:"width:100%; height:80px; resize:vertical;" %></div>
          </div>
          <div class="field">
            <%= f.label :an_alle_senden? %>
            <%= f.check_box :newsfeedToAll %>
          </div>
          <div id="send_button" class="row-fluid">
            <div class="span4 offset4"><%= f.submit "Newsfeednachricht speichern", class:"btn btn-xs btn-success", style:"width:100%" %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>