<%= form_for(@user) do |f| %>
    <div class="container-fluid">
      <div class="panel panel-primary">
        <div class="panel-body">


    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
          <h4> Alle Felder mit * sind Pflichtfelder. Bitte f체lle diese sorgf채ltig aus.</h4> </br>
    <div class="field">
      <%= f.label :username, "Benutzername*:" %>
      <%= f.text_field :username, style: "height: 100%;" %>
    </div>
    <div class="field">
      <%= f.label :email, "E-Mail-Adresse*:" %>
      <%= f.text_field :email, style: "height: 100%;" %>
    </div>
    <div class="field">
      <%= f.label :password, "Passwort*" %>
      <%= f.password_field :password, style: "height: 100%;" %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, "Passwort-Best채tigung*" %>
      <%= f.password_field :password_confirmation, style: "height: 100%;" %>
    </div>

    <% if @current_user == nil%>
       <% else %>
    <% if @current_user.admin %>
       <div class="field">
       <%= f.label :admin %><br />
       <%= f.check_box :admin %>
       </div>
    <% end %>
    <% end %>

    <% if @current_user == nil%>
       <% else %>
    <% if @current_user.admin %>
       <div class="field">
       <%= f.label :teacher %><br />
       <%= f.check_box :teacher %>
       </div>
    <% end %>
    <% end %>

    <div class="field">
      <%= f.label :learner, "Bist du ein Sch체ler?" %>
      <%= f.check_box :learner %>
    </div>


    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
 </div>
</div>
<% end %>

 





