
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <strong><%= @user.errors.count %> Fehler:</strong>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <%end%>
    </ul>
  </div>
  <%end%>
   
  <h5> Alle Felder mit * sind Pflichtfelder. Bitte f체lle diese sorgf채ltig aus</h5>
  <p>
  *Benutzername:            <%=f.text_field :username %><br />
  </p>
  <p>
  *E-Mail Adresse:          <%=f.email_field :email %><br />	
  </p>
  <p>
  *Passwort:                <%=f.password_field :password %><br />	
  </p>
  <p>
  *Passwort-Best채tigung:    <%=f.password_field :confirmation %><br />	
  </p>
  <p>
  Bist du ein Sch체ler?	    <%=f.check_box :pupil%> <br \>
  </p>
  <p>
  <%= f.submit%>	
  </p>	
<% end %>

 





