<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

<h1>AdminForm</h1>

    <div class="field">
      <%= f.label :username %><br>
      <%= f.text_field :username %>
    </div>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :vorname %><br>
      <%= f.text_field :firstname %>
    </div>
    <div class="field">
      <%= f.label :nachname %><br>
      <%= f.text_field :lastname %>
    </div>
    <div class="field">
      <%= f.label :geburtsdatum %><br>
      <%= f.date_select :birthday, start_year: 1900, end_year: Date.today.year  %>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="field">
      <%= f.label :admin %><br />
      <%= f.check_box :admin %>
    </div>
    <div class="field">
      <%= f.label :learner %><br />
      <%= f.check_box :learner %>
    </div>
    <div class="field">
      <%= f.label :teacher %><br />
      <%= f.check_box :teacher %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>