
<!--<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
     <div id="error_explanation">
    <strong><%= @user.errors.count %> Fehler:</strong>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <%end%>
    </ul>
    </div>
  <%end%>
   
  <h4> Alle Felder mit * sind Pflichtfelder. Bitte f체lle diese sorgf채ltig aus</h4>
  <font size="3">
  <table width="50%" cellspacing="10">
  <tr><td>Benutzername*</td><td> <%=f.text_field :username %></td></tr>
  <tr><td>E-Mail Adresse*</td><td> <%=f.email_field :email %></td></tr>	
  <tr><td>Passwort*</td><td><%=f.password_field :password %></td></tr>
  <tr><td>   </td></tr>	
  <tr><td>Bist du ein Sch체ler?</td><td><%= f.select :pupil, [["--Bitte ausw채hlen--", nil], ["Ja", true], ["Nein", false]]%></td></tr>
  <tr><td>   </td></tr>
  <tr><td>  </td><td>  <%= f.submit "Profil jetzt anlegen"%> </td></tr>
  </table>
  </font>
<% end %> -->

<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

<h1>UserForm</h1>

    <div class="field">
      <%= f.label :username %><br>
      <%= f.text_field :username %>
    </div>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :vorname %><br>
      <%= f.text_field :firstname %>
    </div>
    <div class="field">
      <%= f.label :nachname %><br>
      <%= f.text_field :lastname %>
    </div>
    <div class="field">
      <%= f.label :geburtsdatum %><br>
      <%= f.date_select :birthday %>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="field">
      <%= f.label :learner %><br />
      <%= f.check_box :learner %>
    </div>
    <div class="field">
      <%= f.label :admin %><br />
      <%= f.check_box :admin %>
    </div>
    <div class="field">
      <%= f.label :teacher %><br />
      <%= f.check_box :teacher %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>

 





