<h3> Benutzer </h3>
<div class="zweispaltig">
<font size="3">
<table width="50%">
	<tr><td><p style="font-size:10pt"><%= link_to 'Neues Profil anlegen?', new_user_path %></p></td></tr>
	<tr>
		<td>
			<b><p style="font-size: 15pt">Name</p></b>
		</td>
		<td>
			<b><p style="font-size: 15pt">Schüler?</p></b>
		</td>	
	</tr>
	<% @users.each do |u| 	%>
	<tr>
		<td>
			<%= u.username %>
		</td>
		<td>
			<%= u.pupil %><!--statt t und f muss hier noch ja nein eingefügt werden!!-->
		</td>
	</tr>	
	<% end %>
	
</table></div>
</font>



<div class="zweispaltig"> 


<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Benutzer durchsuchen") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Suchen") %>
<% end %>
		
<script type="text/javascript"> 
function usersearch() {			#suchfunktion muss noch bearbeitet werden!!
alert("tesst");
	var query = document.getElementById('searchInput');
 
 	window.location.href = ("user/"+escape(query.value));
  }
</script>






