<h3> Benutzer </h3>
<div class="zweispaltig">
<font size="3">
<table width="50%">
	<tr><td><p style="font-size:10pt"><%= link_to 'Neues Profil anlegen?', new_user_path %></p></td></tr>
	<tr>
		<td>
			<b><p style="font-size: 15pt">Name</p></b>
		</td>
		<td>
			<b><p style="font-size: 15pt">Sch端lerstatus</p></b>
		</td>	
	</tr>
	<% @users.each do |u| 	%>
	<tr>
		<td>
			<%= u.username %>
		</td>
		<td>
			<%if u.pupil == true%>
				<%="Sch端ler"%><!--statt t und f muss hier noch ja nein eingef端gt werden!!-->
			<%elsif u.pupil == false%>
				<%="Kein Sch端ler"%>
			<%else%>
				<%="Keine Angabe"%>
			<%end%>
		</td>
	</tr>	
	<% end %>
	
</table></div>
</font>









