<h3> Benutzer </h3>
<div class="dreispaltig">

<table width="70%">
	<tr>
    <td style="padding-left:5px"></td>
		<td>
			<b><p style="font-size: 15pt">Name</p></b>
		</td>
		<td>
			<b><p style="font-size: 15pt">Status</p></b>
		</td>
		<td>
		<%if @admin%>			
				<b><p style="font-size: 15pt">E-Mail Adresse</p></b>			
		<%end%>
		</td>
			
	</tr>
	<% @users.each do |u| 	%>
	<tr>
    <td style="padding-left:5px"></td>
		<td>
			<%= u.username %>
		</td>
		<td>
			<%if u.learner == true%>
				<%="Schüler"%><!--statt t und f muss hier noch ja nein eingefügt werden!!-->
			<%elsif u.teacher == true%>
				<%="Lehrer"%>
      <%elsif u.admin == true%>
          <%="Administrator"%>
			<%else%>
				<%="Keine Schüler"%>
			<%end%>
		</td>
		<td>
		<%if @current_user.admin %>
				<%= u.email %>			
		<%end%>
		</td>
	</tr>	
	<% end %>
	
</table></div>








