<div class="container-fluid">
  <h1>Benutzer</h1>

  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <td width="20%">
            <b><p style="font-size: 15pt">Name</p></b>
          </td>
          <td width="10%">
            <b><p style="font-size: 15pt">Status</p></b>
          </td>
          <td width="30%">
            <%if @current_user.admin %>
                <b><p style="font-size: 15pt">E-Mail Adresse</p></b>
            <%end%>
          </td>
        </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
            <tr>
              <td><b><%= user.username %></b></td>
              <% if user.learner %>
                  <td><b>"Learner"</b></td>
              <% elsif user.teacher %>
                  <td><b>"Teacher"</b></td>
              <% else %>
                  <td><b>"Admin"</b></td>
              <% end %>
              <td><%= user.email%></td>
              <% if @current_user.admin %>

              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

<!--<div class="dreispaltig">

<table width="70%">
	<tr>
    <td style="padding-left:5px"></td>
		<td>
			<b><p style="font-size: 15pt">Name</p></b>
		</td>
		<td>
			<b><p style="font-size: 15pt">Status</p></b>
		</td>
		<td>
		<%if @admin%>			
			<b><p style="font-size: 15pt">E-Mail Adresse</p></b>
		<%end%>
		</td>
			
	</tr>
	<% @users.each do |u| 	%>
	<tr>
    <td style="padding-left:5px"></td>
		<td>
			<%= u.username %>
		</td>
		<td>
			<%if u.learner == true%>
				<%="Schüler"%><!--statt t und f muss hier noch ja nein eingefügt werden!!-->
			<%elsif u.teacher == true%>
				<%="Lehrer"%>
      <%elsif u.admin == true%>
          <%="Administrator"%>
			<%else%>
				<%="Keine Schüler"%>
			<%end%>
		</td>
		<td>
		<%if @current_user.admin %>
				<%= u.email %>			
		<%end%>
		</td>
	</tr>	
	<% end %>
	
</table></div>








