<div class="container-fluid">
  <h1>Benutzer</h1>
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <td width="20%">
            <b><p style="font-size: 15pt">Username</p></b>
          </td>
          <td width="15%">
            <b><p style="font-size: 15pt">Name</p></b>
          </td>
          <td width="15%">
            <b><p style="font-size: 15pt">Status</p></b>
          </td>
          <td width="10%">
            <b><p style="font-size: 15pt">Id</p></b>
          </td>
          <td width="20%">
            <%if @current_user.admin %>
                <b><p style="font-size: 15pt">E-Mail Adresse</p></b>
            <%end%>
          </td>
        </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
            <tr>
              <td><b><%= user.username %></b></td>
              <td><%= user.firstname + ", " + user.lastname %></td>
              <% if user.learner %>
                  <td><b>Schüler</b></td>
              <% elsif user.teacher %>
                  <td><b>Lehrer</b></td>
              <% else %>
                  <td><b>Admin</b></td>
              <% end %>
              <td><%= user.id %></td>
              <% if @current_user.admin %>
                  <td><b><%= user.email%></b></td>
              <% end %>
              <% if @current_user.id.eql? user.id %>
                  <td width="7%"><%= link_to 'löschen', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% else %>
                  <td width="7%"></td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>