<h3> Benutzer </h3>
<div class="zweispaltig">

<table width="70%">
	<tr>
		<td>
			<b><p style="font-size: 15pt">Name</p></b>
		</td>
		<td>
			<b><p style="font-size: 15pt">Sch端lerstatus</p></b>
		</td>
		<td>
		<%if @admin%>			
				<b><p style="font-size: 15pt">E-Mail Adresse</p></b>			
		<%end%>
		</td>
			
	</tr>
	<% @users.each do |u| 	%>
	<tr>
		<td>
			<%= u.username %>
		</td>
		<td>
			<%if u.pupil == true%>
				<%="Sch端ler"%><!--statt t und f muss hier noch ja nein eingef端gt werden!!-->
			<%elsif u.pupil == false%>
				<%="Kein Sch端ler"%>
			<%else%>
				<%="Keine Angabe"%>
			<%end%>
		</td>
		<td>
		<%if @admin%>			
				<%= u.email %>			
		<%end%>
		</td>
	</tr>	
	<% end %>
	
</table></div>









