
<h3>Anmeldung</h3>
 
 <%= form_for users_path do |f| %>
 <font color="red"><b>
 	<% if @fehler1 %>
 	Den Benutzernamen gibt es nicht!
 	<% end %>
 	<% if @fehler2 %>
 	Das Passwort ist falsch!
 	<% end %>
 	<%if @fehler3 %>
 	Du hast keinen Benutzernamen eingegeben!
 	<% end %>
 <br /> </b> </font>
 
 <h4>Hier kannst du dich anmelden:</h4>
  <font size="3">
  <table width="50%" cellspacing="10">
  <tr><td>Benutzername</td><td> <%=f.text_field :username %></td></tr><!--hier evtl typ ändern: Text mit Zahlen????-->
 <tr><td>Passwort</td><td><%=f.password_field :password %></td></tr><!--name statt username weilusername schon in user belegt????-->
 		<tr><td>   </td></tr>
  <tr><td>  </td><td>  <%= f.submit "Jetzt anmelden"%> </td></tr>
  </table>
  </font>
 <% end %>

 
 <%= link_to 'Oder doch ein Profil anlegen?', new_user_path %>


   