 <h3>Anmeldung</h3>
 <%= form_tag login_users_path do %>
 <font color="red"><b>
 	<% if @fehler1 %>
 	Den Benutzernamen gibt es nicht!
 	<% elsif @fehler2 %>
 	Das Passwort ist falsch!
 	<% end %>
 <br /> </b> </font>
 
 <p>Hier kannst du dich anmelden:</p>
 <form action="/users/login" method="post">
 	<table width="30%">
 		<tr><td> Benutzername: </td> <td> <input type="text" name="name" /></td></tr><!--hier evtl typ ändern: Text mit Zahlen????-->
 		<tr><td> Passwort: </td> <td> <input type="password" name="pass" /></td></tr><!--name statt username weilusername schon in user belegt????-->
 		<tr><td>  </td> <td> <input type="submit" value="Anmelden" /></td></tr>
 	</table>	
 <\form>
 <% end %>

   <!-- <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Fehler bei der Anmeldung</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= f.label :username %><br>
        <%= f.text_field :username %>
      </div>
      <div class="field">
        <%= f.label :email %><br>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :password %><br>
        <%= f.password_field :password %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation %>
      </div>
      <div class="actions"><%= f.submit %></div>
    <% end %>-->