<div class="container-fluid">
  <h3>Hier kannst du dir ein Profil anlegen</h3>

<body>
<% if logged_in_as_admin? %>
  <%= render "createAdminForm" %>
  <%= link_to 'Zu den anderen Benutzern', users_path %>
<% elsif logged_in_as_teacher? %>
    <%= render "createTeacherForm" %>
    <%= link_to 'Zu den anderen Benutzern', users_path %>
<% else %>
    <%= render "createUserForm" %>
<% end %>


</body>
</div>