<%= form_for(@knowledge_element) do |f| %>
  <%= render "display_errors" %> 

<table cellpadding="10">
 <tr>
 	<td valign="top">
 		<%= f.label :tag, "Knowledge Element*" %>
 	</td>
 	<td>
 		<%= f.text_area :tag, placeholder:"Schlagwort", maxlength:"140" %>
 	</td>
   <td valign="top">
     <%= f.label :content, "Inhalt des Schlagworts*" %>
   </td>
   <td>
     <%= f.text_area :content, placeholder:"Inhalt des Schlagworts", maxlength:"500" %>
   </td>

 </tr>
</table>
  
  <div class="actions">
    <%= f.submit "Schlagwort speichern" %>
  </div>
<% end %>
