<div class="container-fluid">

  <div class="col-sm-9"><div class="row-fluid"><h1>KnowledgeElement</h1></div></div>

  <div class="col-sm-9">

    <div class="panel panel-primary">
      <div class="panel-body" id="knowledgeelements_list">
        <div class="row-fluid">
          <div class="span3" style="padding-top: 20px">
            <%= button_to new_knowledge_element_path, :method => :get, class:"btn btn-xs btn-primary" do %>
              <span class="glyphicon glyphicon-plus"></span> Neues KnowledgeElement
            <% end %>
          </div>
          </div>
        </div>
        <table class="table table-striped">
          <thead>
          <tr><strong>
            <th width="20%"> Name des Knowledge Elements </th>
            <th width="20%"> Beschreibung </th>
            <th> Zugehöriges Topic</th>
          </strong></tr>
          </thead>

          <tbody>
          <% @knowledgeElements.each do |ke| %>
              <tr>
                <!-- show title, author, and creation date for each exercise -->
                <td> <%= link_to ke.name, ke %> </td>
                <td> <%= ke.description %></td>
                <td> <% if !ke.topic.nil?%><%= link_to ke.topic.name, ke.topic %><%end%></td>
                <td width="100">
                  <%= button_to knowledge_element_path(ke.id),  :method => :delete,
                                data:{confirm:"Willst Du dieses KnowledgeElement wirklich loeschen?"}, class:"btn btn-xs btn-danger" do %>
                      <span class="glyphicon glyphicon-trash"></span>
                      <%end%>
                  <%#= button_to ("löschen", :id => ke.id, :method => :delete, data: {confirm: "Are you sure?"},
                                               :remote => true, :disable_with => 'loading...'")
                                              %></td>
                <td width="100">
                <%= button_to 'Bearbeiten',{:action => "edit", :id => ke.id}, :method => :get, class:"btn btn-xs btn-primary"%></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>


  </div> <!-- /col-sm-9 -->
</div> <!-- /container-fluid -->


</div> <!-- /col-sm-9 -->


</div> <!-- /container-fluid -->




