<h1>Liste der KnowledgeElements</h1>

<p id="notice"><%= notice %></p>

<table cellpadding="5" border="1">
  <thead>
    <tr>
      <th>Knowledge Element</th>
      <th>Anzahl Nachrichten</th>
      <th>erstellt:</th>
      <th>Funktionen</th>
    </tr>
  </thead>



  <tbody>
  <% @knowledge_elements.each do |knowledge_element| %>
      <tr id=<%= knowledge_element.id %>>
        <td><%= link_to knowledge_element.tag, knowledge_element %></td>
        <td><span class="knmessages"><%= pluralize(knowledge_element.knmessages.size, '') %></span></td>
        <td><div class="created_at">on <%= knowledge_element.created_at.strftime('%b %d, %Y') %></div></td>
        <td>
          <%= link_to 'bearbeiten', edit_knowledge_element_path(knowledge_element) %>
          <%= link_to "löschen", knowledge_element_path(knowledge_element, :authenticity_token => form_authenticity_token), data:{confirm: ('Bist du dir sicher?')}, :method => :delete  %>
        </td>
      </tr>


  <% end %>
  </tbody>
</table>

<br>



<%= link_to 'Neues KnowledgeElement', new_knowledge_element_path %> <br />
<%= link_to 'zurück zur Lehrplanübersicht', curriculums_path %>