<div class="container-fluid">

  <div class="col-sm-9"><div class="row-fluid"><h1><%= @knowledgeElement.name %></h1></div></div>

  <div class="col-sm-9">



    <div class="panel panel-primary">

      <% if @knowledgeElement != nil%>

          <p>
            <%= @knowledgeElement.description %>
          </p>

          <%= button_to 'Bearbeiten', edit_knowledge_element_path, :method => :get, class:"btn btn-xs btn-primary"%>

          <br>
          <br>

          <p>
            <H4><strong>Tests:</strong></H4>
          <% if @exams != nil %>
              <% @exams.each do |e| %>
                  <td> <%= link_to e.name, e %> </td>
              <%end%>
          <%else%>
              Es gibt noch keine Tests für <%= @knowledgeElement.name %>
          <%end%>
          </p>

          <br>
          <br>

          <p>
            <H4><strong>Aufgaben:</strong></H4>
          <% if @exercises1 != nil%>
              <% @exercises1.each do |e| %>
                  <td> <%= link_to e.name, e %> </td>
              <%end%>
          <%end%>
          <% if @exercises2 != nil%>
              <% @exercises1.each do |e| %>
                  <td> <%= link_to e.name, e %> </td>
              <%end%>
          <%end%>
          <% if @exercises3 != nil%>
              <% @exercises1.each do |e| %>
                  <td> <%= link_to e.name, e %> </td>
              <%end%>
          <%end%>
          <% if @exercises4 != nil%>
              <% @exercises1.each do |e| %>
                  <td> <%= link_to e.name, e %> </td>
              <%end%>
          <%end%>
          <% if @exercises5 != nil%>
              <% @exercises1.each do |e| %>
                  <td> <%= link_to e.name, e %> </td>
              <%end%>
          <%end%>
          <% if @exercises6 != nil%>
              <% @exercises1.each do |e| %>
                  <td> <%= link_to e.name, e %> </td>
              <%end%>
          <%end%>

          </p>


      <%else%>
          <p>
            Dieses KnowledgeElement existiert nicht
          </p>
      <%end%>


      <p>
        <%= link_to 'Zurück zur Übersicht', knowledge_elements_path%>
      </p>
    </div>
  </div>


</div> <!-- /col-sm-9 -->
</div> <!-- /container-fluid -->


</div> <!-- /col-sm-9 -->


</div>