 <div class="hero-unit">
    
<%= render "display_errors" %>

<%= render "upload/uploadfile" %>
<%= form_for @wiki do |f| %>
    <%= f.text_field :title, placeholder:"Titel eingeben...", maxlength:"35" , :value => @title %> 
  
 
  
    
   <%= f.text_area :article,  class: 'wysihtml5', placeholder:"Artikel hier schreiben...", style:"width: 810px; height: 200px" %>
   
  <p>
    <%= f.submit "Artikel speichern"%>
  </p>
  
 

<% end %>

</div>




<script type="text/javascript">
  $(document).ready(function(){

    $('.wysihtml5').each(function(i, elem) {
      $(elem).wysihtml5();
    });

  })
</script>