 <div class="hero-unit">
    <%= form_for :wiki, url: wikis_path do |f| %>
<%= render "display_errors" %>
    <%= f.text_field :title, placeholder:"Titel eingeben...", maxlength:"35" %> 
  
 
  
    
   <%= f.text_area :article,  class: 'wysihtml5', placeholder:"Artikel hier schreiben...", style:"width: 810px; height: 200px" %>
   
  <p>
    <%= f.submit %>
  </p>
  </div>
 

<% end %>




<script type="text/javascript">
  $(document).ready(function(){

    $('.wysihtml5').each(function(i, elem) {
      $(elem).wysihtml5();
    });

  })
</script>