<%= form_for :wiki, url: wikis_path do |f| %>
<%= render "display_errors" %>
  <p >
    <%= f.label :title %><br>
    <%= f.text_field :title, placeholder:"Title eingeben..."%> 
  </p>
 
  <p>
    <%= f.label :article %><br>
   <%= f.text_area :article,  class: 'wysihtml5', placeholder:"Artikel hier schreiben..." %>
   
   
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>



<script type="text/javascript">
  $(document).ready(function(){

    $('.wysihtml5').each(function(i, elem) {
      $(elem).wysihtml5();
    });

  })
</script>