<h3>Artikel bearbeiten</h3>

<%= form_for :wiki, url: wiki_path do |f| %>

<strong><%= @wiki.title %></strong>
<% if @wiki.errors.any? %>
  <div id="error_explanation">
    <strong><%= pluralize(@wiki.errors.count, "error") %> prohibited
      this post from being saved:</strong>
    <ul>
    <% @wiki.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 
  <p>
    <%= f.label :article %><br>
    <%= f.text_area :article %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

