	
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="zweispaltig"><h3 class="panel-title"><%= @wiki.title %></h3>
		 <form action="search" method="post">
	    	<% @wiki.contents.each do |knowledge_element| %>
		<span class="tag label label-info"><%= link_to knowledge_element.tag, wikis_search_path(knowledge_elements: [knowledge_element.id], search: ""), method: "post", remote: "true"%></span>
		<% end %></form></div>
		<div align="right" >
		<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Artikel bearbeiten <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><%= link_to "Artikel bearbeiten", edit_wiki_path %></li>
    <li><%= link_to "Artikel löschen", wiki_path, method:"delete" , remote:true, data: { confirm: 'Bist du dir sicher?' }%></li>
    <li class="divider"></li>
    <li><%= link_to "Neuen Artikel verfassen", new_wiki_path %></li>
  </ul>
</div>
		</div>	</div>
	<div class="panel-body"><br/><br/><%= sanitize @wiki.article %></div> <!-- sanitize verhindert XSS -->
	</div>
	counter: <%= @wiki.clicks %>
	
	


