<%= form_for([@curriculumID, @item]) do |f| %>
 <%= render "display_errors" %>
 
  <table cellpadding="5" border="1">
  <thead>
    <tr>
      <th></th>
      <th>Stichwort</th>
    </tr>
  </thead>

  <tbody>
    <% @contents.each do |content| %>
    <%= check_box_tag "item[content_ids][]", campaign.id, @item.contents.include?(content) %>
    <%= content.tag %>
    
    
    
      <tr id=<%= content.id %>>
      	<td>
      		<div class="checkbox">
   				<label><input type="checkbox" value=""><%= content.tag %></label>
			</div>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
  
  <div class="actions">
    <%= f.submit "Stichworte übernehmen" %>
  </div>
<% end %>
