<p id="notice"><%= notice %></p>
<div align="center">
<table width="80%" cellpadding="5">
    <tr bgcolor="grey">
    	<td align="left"><h1><%= @item.title %></h1></td>
      	<td align="right"><h1><%= @item.hours %> Stunden </h1></td>
    </tr>
    <tr>
    	<td colspan="2">
    		<br />
    		<%= @item.descriptionOfContent %>   <br /> 
    	</td>
    </tr>  	
</table>
<br />

<%= link_to 'zurück', curriculum_path(@item.curriculum_id) %> |
<%= link_to 'bearbeiten', edit_curriculum_item_path(@item.curriculum_id, @item) %> |
</div>

