<p id="notice"><%= notice %></p>

<p>
  <strong>Titel:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Stundenaufwand:</strong>
  <%= @item.hours %> Stunden
</p>

<p>
  <strong>Lehrplaninhaltsbeschreibung:</strong>
  <%= @item.descriptionOfContent %>
</p>

<%= link_to 'bearbeiten', edit_item_path(@item) %> |
<%= link_to 'zurück', curriculums_path %>
