<p id="notice"><%= notice %></p>

<p>
  <%= KnowledgeElement.find_by_id(@materialdocument.knowledge_element_id).name %>
</p>

<p>
  <strong> <%= @materialdocument.title %> </strong>
</p>

<p>
  <a href=<%= @materialdocument.file.url %>><%= @materialdocument.file_file_name %></a>
  <!--%= link_to "[ angehängtes Dokument ]", @materialdocument.file.url, target: "blank" %-->
</p>

<p>
  <i>Erstellt von <%= User.find_by(@materialdocument.user_id).username %> am <%= @materialdocument.created_at %></i>
</p>

<table>
  <thead>
  <tr>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <!--td><%= button_to 'Bearbeiten', edit_materialdocument_path, {:method => "get", :id => @materialdocument.id} %></td-->
    <td><%= button_to 'Löschen', materialdocument_path, {:method => "delete", :id => @materialdocument.id, data: { confirm: "Bist Du sicher?"}} %></td>
    <td><%= button_to 'Zurück', materials_path, :method => "get" %></td>
  </tr>
  </tbody>
</table>

<!--
%= link_to 'Bearbeiten', edit_materialdocument_path(@materialdocument) %> |
%= link_to 'Löschen', materialdocument_path, method: :delete, data: { confirm: 'Bist du sicher?' } %> |
%= link_to 'Zurück', materials_path %>
-->