<%= form_for @knmessage do |f| %>
    <%= f.hidden_field :knowledge_element_id %>
    <%= f.hidden_field :name %>

    <p>

      <%= f.text_area :content, :rows => '6', :cols => 35, style: "width:25%;" %>
    </p>

    <p><%= f.submit "Senden" %></p>

<% end %>