<h1>Materialien</h1>

<br>
<%= link_to 'Neuen Text erstellen', new_materialtext_path %>
<br>
<%= link_to 'Neuen Link erstellen', new_materiallink_path %>
<br>
<%= link_to 'Neues Bild hochladen', new_materialpicture_path %>
<br>
<%= link_to 'Neues Video hochladen', new_materialvideo_path %>
<br>

<table>
  <thead>
  <caption><h3>Texte</h3></caption>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @materialtexts.each do |material| %>
      <tr>
        <td><%= link_to material.title, material %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<table>
  <thead>
  <caption><h3>Links</h3></caption>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @materiallinks.each do |material| %>
      <tr>
        <td><%= link_to material.title, material %></td>
      </tr>
  <% end %>
  </tbody>
</table>


<table>
  <thead>
  <caption><h3>Bilder</h3></caption>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @materialpictures.each do |material| %>
      <tr>
        <td><%= link_to material.title, material %></td>
      </tr>
  <% end %>
  </tbody>
</table>


<table>
  <thead>
  <caption><h3>Videos</h3></caption>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @materialvideos.each do |material| %>
      <tr>
        <td><%= link_to material.title, material %></td>
      </tr>
  <% end %>
  </tbody>
</table>
