<h1>Listing materialvideos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>File</th>
      <th>Filename</th>
      <th>Fileformat</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @materialvideos.each do |materialvideo| %>
      <tr>
        <td><%= materialvideo.title %></td>
        <td><%= materialvideo.file %></td>
        <td><%= materialvideo.filename %></td>
        <td><%= materialvideo.fileformat %></td>
        <td><%= materialvideo.user_id %></td>
        <td><%= link_to 'Show', materialvideo %></td>
        <td><%= link_to 'Edit', edit_materialvideo_path(materialvideo) %></td>
        <td><%= link_to 'Destroy', materialvideo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Materialvideo', new_materialvideo_path %>
