<p id="notice"><%= notice %></p>

<p>
  <strong>Titel:</strong>
  <%= @materialvideo.title %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @user_author_name %>
</p>

<%= link_to 'Bearbeiten', edit_materialvideo_path(@materialvideo) %> |
<%= link_to 'Zurück', materials_path %>
