<p id="notice"><%= notice %></p>

<p>
  <strong>Titel:</strong>
  <%= @materialvideo.title %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @user_author_name %>
</p>

<table>
  <thead>
  <tr>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= button_to 'Bearbeiten', edit_materialvideo_path, {:method => "get", :id => @materialvideo.id} %></td>
    <td><%= button_to 'Löschen', materialvideo_path, {:method => "delete", :id => @materialvideo.id, data: { confirm: "Bist Du sicher?"}} %></td>
    <td><%= button_to 'Zurück', materials_path, :method => "get" %></td>
  </tr>
  </tbody>
</table>

<!--
%= link_to 'Bearbeiten', edit_materialvideo_path(@materialvideo) %> |
%= link_to 'Löschen', materialvideo_path, method: :delete, data: { confirm: 'Bist du sicher?' } %> |
%= link_to 'Zurück', materials_path %>
-->