<p id="notice"><%= notice %></p>

<p>
  <%= KnowledgeElement.find_by_id(@materialpicture.knowledge_element_id).name %>
</p>

<p>
  <strong><%= @materialpicture.title %></strong>
</p>

<p>
<%= image_tag @materialpicture.file.url %>
</p>

<p>
  <i>Erstellt von <%= User.find_by(@materialpicture.user_id).username %> am <%= @materialpicture.created_at %></i>
</p>

<table>
  <thead>
  <tr>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><!--%= button_to 'Bearbeiten', edit_materialpicture_path, {:method => "get", :id => @materialpicture.id} %--></td>
    <td><%= button_to 'Löschen', materialpicture_path, {:method => "delete", :id => @materialpicture.id, data: { confirm: "Bist Du sicher?"}} %></td>
    <td><%= button_to 'Zurück', materials_path, :method => "get" %></td>
  </tr>
  </tbody>
</table>

<!--
%= link_to 'Bearbeiten', edit_materialpicture_path(@materialpicture) %> |
%= link_to 'Löschen', materialpicture_path, method: :delete, data: { confirm: 'Bist du sicher?' } %> |
%= link_to 'Zurück', materials_path %>
-->