<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @materialpicture.title %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @user_author_name %>
</p>

<%= link_to 'Bearbeiten', edit_materialpicture_path(@materialpicture) %> |
<%= link_to 'Löschen', materialpicture_path, method: :delete, data: { confirm: 'Bist du sicher?' } %> |
<%= link_to 'Zurück', materials_path %>
