<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
<h4>Bitte beachte, dass deine Klausur ungültig ist, sobald du die Seite verlässt.</h4>

<h3><%= @knowledgeElements.name %></h3>
  <br>


<%= form_tag(progresses_path, :method=>'post') do %>
      <%= hidden_field_tag "ke_id", @knowledgeElements.id %>
  <%array= Array[]%>

  <% @subexercises1.each do |sub1| %>
      <% if sub1.exercise.knowledge_element_id == @knowledgeElements.id && !(sub1.exercise.sequence)%>
          <%array.push(sub1)%>
      <%end%>
  <%end%>
  <%array2=array.sort_by {rand}%>
  <% if array2.empty?%>
      <%="keine Aufgabe vorhanden."%>
  <%else %>
      <h5><t>Aufgabe 1:</t>
        <%=@exercises.find_by(id: array2.first.exercise_id).title  %></h5>
      <%=@exercises.find_by(id: array2.first.exercise_id).description %>
      <br>
      <%=array2.first.text%><%end%>
  <br>
  <%= text_area_tag "text1" %>
      <% if array2.empty?%>
      <%else%>
          <%= hidden_field_tag "ex1_id", array2.first.id %>
          <%end%>


      <%array3= Array[]%>

      <% @subexercises2.each do |sub1| %>
          <% if sub1.exercise.knowledge_element_id == @knowledgeElements.id && !(sub1.exercise.sequence)%>
              <%array3.push(sub1)%>
          <%end%>
      <%end%>
      <%array4=array3.sort_by {rand}%>
      <% if array4.empty?%>
          <br>
          <%="keine Aufgabe vorhanden."%>
      <%else %>
          <h5><t>Aufgabe 2:</t>
            <%=@exercises.find_by(id: array4.first.exercise_id).title  %></h5>
          <%=@exercises.find_by(id: array4.first.exercise_id).description %>
          <br>
          <%=array4.first.text%><%end%>
      <br>
      <%#= text_field :max_points,  maxlength:"40", style:"width:100%; height:100%;" %>
  <%= text_area_tag "text2" %>
      <% if array4.empty?%>
      <%else%>
          <%= hidden_field_tag "ex2_id", array4.first.id %>
      <%end%>



      <%array5= Array[]%>

      <% @subexercises3.each do |sub1| %>
          <% if sub1.exercise.knowledge_element_id == @knowledgeElements.id && !(sub1.exercise.sequence)%>
              <%array5.push(sub1)%>
          <%end%>
      <%end%>
      <%array6=array5.sort_by {rand}%>
      <% if array6.empty?%>
          <br>
          <%="keine Aufgabe vorhanden."%>
      <%else %>
          <h5><t>Aufgabe 2:</t>
            <%=@exercises.find_by(id: array6.first.exercise_id).title  %></h5>
          <%=@exercises.find_by(id: array6.first.exercise_id).description %>
          <br>
          <%=array6.first.text%><%end%>
      <br>
  <%= text_area_tag "text3" %>
      <% if array6.empty?%>
      <%else%>
          <%= hidden_field_tag "ex3_id", array6.first.id %>
      <%end%>
      <br>
  <%= submit_tag 'Klausur abgeben' %>
<% end %>


</div>

