<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
<h4>Bitte beachte, dass deine Klausur abgegeben wird, sobald du sie Seite verlässt.</h4>

<h3><%= @knowledgeElements.name %></h3>
  <br>


<%array= Array[]%>
<%array2=Array[]%>

<% @subexercises1.each do |sub1| %>
     <% array.push (sub1) %>
      <% result = array.select do |hash|
        hash[:points] == @knowledgeElements.id end%>
      <% array2=result.sort_by {rand}%>
<%end%>
  <% if array2.empty?%>
       <%="keine Aufgabe vorhanden."%>
       <%else %>
      <t>Aufgabe 1:</t>
      <%=@exercises.find_by(id: array2.first.exercise_id).title  %>
      <br>
      <%=@exercises.find_by(id: array2.first.exercise_id).description %>
      <br>
      <%=array2.first.text%> <%end%>
      <br>
 <%#= text_field :max_points,  maxlength:"40", style:"width:100%; height:100%;" %>

  <form action="textarea.html" method="post">
    <div>
      <textarea id="text" name="text" cols="40" rows="4"></textarea>
    </div>
  </form>


  <br>


<% @subexercises2.each do |sub2|%>
          <% if sub2.points== @knowledgeElements.id %>
              <%= sub2.text %>
          <%end%>
  <%end%>


  <%= button_to 'Klausur abgeben', users_profile_path,:method => "get", class:"btn btn-xs btn-primary"  %></div>




</div>

