<%= form_for(@peer_to_peer) do |f| %>
  <% if @peer_to_peer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@peer_to_peer.errors.count, "error") %> prohibited this peer_to_peer from being saved:</h2>

      <ul>
      <% @peer_to_peer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Betreff %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :Nachricht %><br>
    <%= f.text_field :message %>
  </div>
  <div class="field">
    <%= f.label :Empfänger %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
