<h1>Listing peer_to_peers</h1>

<table>
  <thead>
    <tr>
      <th>Sender</th>
      <th>Receiver</th>
      <th>Subject</th>
      <th>Message</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @peer_to_peers.each do |peer_to_peer| %>
      <tr>
        <td><%= peer_to_peer.sender %></td>
        <td><%= peer_to_peer.receiver %></td>
        <td><%= peer_to_peer.subject %></td>
        <td><%= peer_to_peer.message %></td>
        <td><%= link_to 'Show', peer_to_peer %></td>
        <td><%= link_to 'Edit', edit_peer_to_peer_path(peer_to_peer) %></td>
        <td><%= link_to 'Destroy', peer_to_peer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Peer to peer', new_peer_to_peer_path %>
