<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @peer_to_peer.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @peer_to_peer.message %>
</p>

<p>
  <strong>User:</strong>
  <%= @peer_to_peer.user %>
</p>

<%= link_to 'Edit', edit_peer_to_peer_path(@peer_to_peer) %> |
<%= link_to 'Back', peer_to_peers_path %>
