<p id="notice"><%= notice %></p>

<p>
  <strong>Sender:</strong>
  <%= @peer_to_peer.sender %>
</p>

<p>
  <strong>Reciever:</strong>
  <%= @peer_to_peer.reciever %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @peer_to_peer.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @peer_to_peer.message %>
</p>

<%= link_to 'Edit', edit_peer_to_peer_path(@peer_to_peer) %> |
<%= link_to 'Back', peer_to_peers_path %>
