<div class="row-fluid">	
<div class="span6">
	<%= will_paginate @exercises, :inner_window => 1, :outer_window => 0, :previous_label => t("<"), :next_label => t(">"), renderer: BootstrapPagination::Rails %>
</div>
<div class="span3" style="padding-top: 20px"> <!-- link to creating new exercise -->
	<%= button_to new_exercise_path, :method => :get, class:"btn btn-xs btn-primary" do %>
		<span class="glyphicon glyphicon-plus"></span> Neue Lernaufgabe
	<% end %>
</div>
<div class="span3" style="padding-top: 20px">
	<div align="right">
	<div class="btn-group">
 	 	<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    		Sortieren nach <span class="caret"></span>
  		</button>
  		<ul class="dropdown-menu" role="menu">		<!-- IMPORTANT: if you add new sort options, add them also in exercises#index!! -->
    		<li><%= link_to "Likes", exercises_path(:sort_by => "like_counter DESC"), :remote => true %></li>
    		<li><%= link_to "Erstelldatum", exercises_path(:sort_by => "created_at DESC"), :remote => true%></li>
    		<li><%= link_to "Titel", exercises_path(:sort_by => "title"), :remote => true%></li>
    		<li><%= link_to "Autor", exercises_path(:sort_by => "author_name"), :remote => true%></li>
  		</ul>
	</div>
	</div>
</div>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th> Aufgabenname </th>
			<th> Autor </th>
			<th> Likes </th>
			<th> erstellt am </th>
            <th> Teilaufgaben</th>
		</tr>
	</thead>

	<tbody>
	<% @exercises.each do |exercise| %>
		<tr>
			<!-- show title, author, and creation date for each exercise -->
			<td> <%= link_to exercise.title, exercise %> </td>
			<td> <%= link_to exercise.user.username, exercise.user %> </td>
			<td> <%= exercise.likes.length %> </td>
			<td> <%= exercise.created_at.to_s(format = :db) %> </td>
            <td> <%= Subexercise.where(exercise_id: exercise.id, active: TRUE, moderated: TRUE).count %></td>
		</tr>
	<% end %>
	</tbody> 
</table>
<%= will_paginate @exercises, :inner_window => 1, :outer_window => 0, :previous_label => t("<"), :next_label => t(">"), renderer: BootstrapPagination::Rails %>
