<%= form_for @exercise do |f| %>
   
   <% if @exercise.errors.any? %>
     <div id="error_explanation">
    <strong><%= @exercise.errors.count %> Fehler:</strong>
    <ul>
    <% @exercise.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <%end%>
    </ul>
    </div>
  <%end%>
   
   
  <h4> Alle Felder mit * sind Pflichtfelder. Bitte fülle diese sorgfältig aus</h4>
  <font size="3">
  <table width="50%" cellspacing="10">
  <tr><td>Titel*</td><td> <%=f.text_field :title %></td></tr>
  <tr><td>Kurzbeschreibung*</td><td> <%=f.text_field :description %></td></tr>	
  <tr><td>  </td></tr>
  <tr><td>  </td><td>  <%= f.submit "Lernaufgabe jetzt anlegen"%> </td></tr>
  </table>
  </font>
<% end %>