<div class="container-fluid" style="height: 300px;">
<div class="row-fluid" id="exercise_title" >
	<div class="col-sm-9" >
		<h1><%= @exercise.title %></h1>
	</div>
	<div class="col-sm-3" >
		<%= button_to exercises_path, class:"btn btn-xs btn-primary", :method => :get do %>
			<span class="glyphicon glyphicon-arrow-left"></span> zur Lernaufgabenübersicht
		<% end %>
	</div>
</div>

<!-- ask user if he/she wants to continue a previously started exercise -->
<% if @next != nil then%>
<div id="existing_performance_displayer">
<div class="row-fluid"><div class="col-sm-12">Du hast diese Lernaufgabe bereits angefangen. Willst Du dort weitermachen oder die bisherige Bearbeitung löschen?</div></div>
<div class="row-fluid" style="margin-bottom: 10px; margin-top: 10px;">
	<div class="col-sm-6"><%= button_to perform_exercise_subexercise_path(@exercise.id, @next), 
		:method => :get, class:"btn btn-xs btn-primary", style:"width:100%" do %>
			Weitermachen <span class="glyphicon glyphicon-share-alt"></span>
		<% end %>
	</div>
		
	<div class="col-sm-6"><%= button_to exercise_performance_path(@exercise.id, @latest_performance, :authenticity_token => form_authenticity_token), 
		:method => :delete, data: {confirm: "Bist Du Dir sicher?"}, class:"btn btn-xs btn-primary", style:"width:100%" do %>
			Löschen <span class="glyphicon glyphicon-trash"></span>
		<% end %>
	</div>
</div>
</div>
<% end %>

<div class="col-sm-4" id="info_and_actions" style="overflow-y:scroll; height:550px;">
	<h3> Info </h3> <!-- Informationen zur Aufgabe -->
	von <%= link_to @exercise.user.username, @exercise.user %> <br/>
	erstellt: <%= @exercise.created_at.to_s(format = :db) %> <br/>
	zuetzt bearbeitet: <%= @exercise.updated_at.to_s(format = :db) %> <br/>
	Beschreibung: <%= @exercise.description %> <br/>
	Anzahl der Fragen: <%= @exercise.subexercise_counter %><br />
	Likes: <span id="like_counter"><%= @exercise.like_counter %></span><br/>
	Erreichbare Punkte: <%= @exercise.max_points %>	<br/>
	Deine Bestleistung:
	<% if @top_performance != nil then %>
		<%= @top_performance.achieved_points %>
		<%= link_to statistics_exercise_path(@exercise.id) do %>
			( Statistik <span class="glyphicon glyphicon-stats"></span> )
		<% end %>
	<% else %>
		Noch keine!
	<% end %>
	<br />
	Tags:
	<% i = 0 %>
	<% while i < @exercise.contents.length - 1 do %>
		<%= link_to @exercise.contents[i].tag, @exercise.contents[i] %>, 
		<% i += 1 %>
	<% end %>
	<% if @exercise.contents.last != nil %>
		<%= link_to @exercise.contents.last.tag, @exercise.contents.last %>
	<% end %>
	
	<hr/> <!-- Aufgabenaktionen -->
	
	<!-- Start- bzw. Fortsetzen-/Löschen-Button -->
	<% if @next == nil then%>
	<div class="row-fluid"><%= button_to start_exercise_path(@exercise.id), :method => :get, 
		style:"width: 100%", class:"btn btn-xs btn-primary" do %>
			Lernaufgabe starten   <span class="glyphicon glyphicon-play"></span>
		<% end %>
	</div>
	<% else %>
	<div class="row-fluid"><%= button_to perform_exercise_subexercise_path(@exercise.id, @next), 
		:method => :get, style:"width: 100%", class:"btn btn-xs btn-primary" do %>
			Lernaufgabe fortsetzen   <span class="glyphicon glyphicon-share-alt"></span>
		<% end %>
	</div>
	<div class="row-fluid"><%= button_to exercise_performance_path(@exercise.id, @latest_performance, :authenticity_token => form_authenticity_token), 
		:method => :delete, :remote => true, style:"width: 100%", class:"btn btn-xs btn-primary"  do%>
			Bearbeitung löschen   <span class="glyphicon glyphicon-trash"></span>
		<% end %>
	</div>
	<% end%>
	
	<!-- Like- bzw. Disklike-Button -->
	<div id="like_button">
		<%= render 'likes/button'%>
	</div>
	
	<!-- Bearbeiten-Button -->
	<% if @exercise.user_id == session[:current_user_id] || session[:admin] == true then%>
	<div class="row-fluid">
		<%= button_to edit_exercise_path(@exercise) , :method => :get, style:"width: 100%", class:"btn btn-xs btn-primary" do %>
			Lernaufgabe bearbeiten   <span class="glyphicon glyphicon-pencil"></span>
		<% end %>
	</div>
	<% end %>
	
	<!-- Zurück-Button -->
	<div class="row-fluid"><%= button_to 'Zurück zur Lernaufgabenübersicht' , exercises_path, :method => :get, style:"width: 100%", class:"btn btn-xs btn-primary" %></div>
		
</div> <!-- /col-4-sm -->

<div class="col-sm-8 panel panel-default" id="comment_column" style="overflow-y:scroll; height:550px;">
	<h3> Kommentare </h3>
	<div id="comment_form">
		<%= render 'comments/form' %>
	</div>
	<div id="comment_list">
		<!-- <button onclick="showMoreComments()">Alle Kommentare</button> -->
		<%= render 'comments/list_comments' %>
	</div>
	
</div>

</div>
