<h1><%= @exercise.title %></h1>
<p><%= @exercise.description %></p>

<%= link_to 'Lernaufgabe bearbeiten', edit_exercise_path %>

<%= link_to 'Lernaufgabe löschen', @exercise, method: :delete %>

<%= link_to 'zurück zur Lernaufgabenübersicht', exercises_path %>