<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10"><h2>Lösung zur Teilaufgabe</h2></div>
    <div class="span2"><%= button_to subexercise_path(Subexercise.where(solution_id: params[:@id]).first), :method => :get, class:"btn btn-xs btn-primary", style:"width:100%" do %>
          zurück  <% end %> </span>
    </div>
  </div>

  <%= form_for Solution.find(params[:id]), :html => {:onsubmit => "return validateForm();"} do |f| %>
      <div class="row-fluid">
        <div class="span10">Aufgabe: <%= Subexercise.find(Solution.find(params[:id]).subexercise_id).exercise.title%> </div>
        <div class="span10"><%= Subexercise.find(Solution.find(params[:id]).subexercise_id).exercise.description %></div>
        <div class="spann10">Teilaufgabe: <%= Subexercise.find(Solution.find(params[:id]).subexercise_id).text%></div>
        <div class="spann2">Maximale Punktezahl: <%= Subexercise.find(Solution.find(params[:id]).subexercise_id).points%></div>
      </div>

      <div id="solution_field" class="row-fluid">
        <div class="span6"><%= f.text_area :solution, placeholder:"Gib hier die Lösung der Aufgabe...", id:"solution", maxlength:"255", style:"width:100%; resize:vertical;" %></div>
        <div class="span6"><%= f.text_area :description, placeholder:"Gib hier eine ausführliche Erklärung und ein Bepunktungsschema für die Aufgabe an ...", id:"description", maxlength:"255", style:"width:100%; resize:vertical;" %></div>
      </div>

      <div class="row-fluid">
        <%= f.hidden_field :subexercise_id, :value => params[:subexercise_id] %>
        <div class="span6"><%= f.submit "Lösung anlegen", id:"submit_button", params: {subexercise_id: params[:subexercise_id]}, class:"btn btn-xs btn-primary" %></div>
      </div>
  <% end %>
</div>

