<!DOCTYPE html>
<html>
<head>
  <title>MyLearnSpace</title>
</head>




<body>
	
<p style="border:5px solid cornflowerblue "><strong>Wo möchtest du hin?</strong> 
	<a href="/welcome/index">Startseite</a>
	<%= link_to 'Wiki', wikis_path %>
	<%= link_to 'Benutzer', users_path %>
	<% if current_user.nil? %>
      <%= link_to 'Anmelden', users_login_path %> <!--statt session path login path-->
    <% else %>
      Eingeloggt als <%= current_user.name %>.
      <%= link_to 'Abmelden', '#' %> <!--session_path( session ), :method => :delete %>-->
    <% end %>
	<%= link_to 'Lehrplan', curriculums_path %>
</p>
<%= yield %>

</body>

</html>

