<!DOCTYPE html>
<html>
<head>
  <title>MyLearnSpace</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", controller_name %>
  
</head>

<body>
<p style="border:2px solid cornflowerblue ">
	<%= link_to image_tag('MyLearnSpace.png', border:"0", width:"150", height:"150", :mouseover => "/images/MyLearnSpace5.png"), welcome_index_path %>
	<strong>Wo möchtest du hin?</strong> 
	
	<%= link_to 'Benutzer', users_path %>
	
	<%= link_to 'Lehrplan', curriculums_path %>
	
	<%= link_to 'Fragenforum', questions_path %>
	
	<%= link_to 'Wiki', wikis_path %>
	
	<% if @current_user.nil? %>
      <%= link_to 'Anmelden', new_login_path %> <!--statt session path login path-->
    <% else %>
      Eingeloggt als <%= current_user.name %>.
      <%= link_to 'Abmelden', login_path( session ), :method => :delete %> <!--session_path( session ), :method => :delete %>-->
    <% end %>

<div id="content"><%= content_for?(:content) ? yield(:content) : yield %></div>

</body>

</html>
