<!DOCTYPE html>
<html>
<head>
  <title>MyLearnSpace</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<script type="text/javascript">
function wikisearch() {
	alert("blub");
  if (document.Formular.search != "") {
     	window.location.href ="/wikis/" +document.Formular.search;
     	
  var query = document.getElementById('searchInput');
        
          if ( ! query.value ) {
               return false;  
          }
		window.location.href ="/wikis/" +query;
          
    
  }}
  </script>


<body>
	
<p style="border:5px solid #0000A1"><strong>Wo möchtest du hin?</strong> 
	<%= link_to 'Wiki', wikis_path %>
	<%= link_to 'User', users_path %>
</p>
<%= yield %>

</body>
</html>
