<!DOCTYPE html>
<html>
>
<head>
  <title>MyLearnSpace</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
  
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application", controller_name %>


</head>

<body>
	
<p style="border:2px solid cornflowerblue" id="topNavigation">
 <% if @admin.nil?%>
	<% if @current_user.nil? %>
		<%=  link_to image_tag('MyLearnSpace.png', border:"0", width:"150", height:"150", :mouseover => "/images/MyLearnSpace5.png"), welcome_index_path %>
	<% else %>
		<%= link_to image_tag('MyLearnSpace.png', border:"0", width:"150", height:"150", :mouseover => "/images/MyLearnSpace5.png"), users_profile_path %>
	<% end %>
 <% else %>
 	<%= link_to image_tag('MyLearnSpace.png', border:"0", width:"150", height:"150", :mouseover => "/images/MyLearnSpace5.png"), curriculums_path %>
 <% end %>	
	
	<strong>Wo möchtest du hin?</strong> 	
	
	<% if @current_user.nil? %>
		<% if @admin.nil?%>
      		&nbsp;&nbsp;&nbsp;&nbsp;
      		<%= link_to 'Anmelden', new_login_path %>
      	<% else %>
            &nbsp;&nbsp;
    		<%= link_to 'Benutzer', users_path %>
			&nbsp;&nbsp;
			<%= link_to 'Lehrplan', curriculums_path %>
			&nbsp;&nbsp;
			<%= link_to 'Fragenforum', questions_path %>
			&nbsp;&nbsp;
			<%= link_to 'Lernaufgaben', exercises_path %>
			&nbsp;&nbsp;
			<%= link_to 'Wiki', wikis_path %>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<strong>Du bist als Administrator angemeldet</strong>
			<%= link_to "Abmelden", users_admin_path(@dmin, :authenticity_token => form_authenticity_token), :method => :delete%>
      	<% end %>
    <% else %>
        <% if @current_user.admin?%>
            &nbsp;&nbsp;
            <%= link_to 'Persönliche Daten', users_profile_path %>
            &nbsp;&nbsp;
            <%= link_to 'Benutzer', users_path %>
            &nbsp;&nbsp;
            <%= link_to 'Neuen Admin anlegen', users_path %>
            &nbsp;&nbsp;
            <%= link_to 'User suchen', users_path %>
            &nbsp;&nbsp;
            <%= link_to 'Nachrichten', questions_path %>
            &nbsp;&nbsp;
            <%= link_to 'Newsfeed', questions_path %>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <% elsif @current_user.teacher?%>
            &nbsp;&nbsp;
            <%= link_to 'Persönliche Daten', users_profile_path %>
            &nbsp;&nbsp;
            <%= link_to 'Neuen Teacher anlegen', users_path %>
            &nbsp;&nbsp;
            <%= link_to 'User suchen', users_path %>
            &nbsp;&nbsp;
            <%= link_to 'Nachrichten', questions_path %>
            &nbsp;&nbsp;
            <%= link_to 'Lehrplan', curriculums_path %>
            &nbsp;&nbsp;
            <%= link_to 'Fragenforum', questions_path %>
            &nbsp;&nbsp;
            <%= link_to 'Lernaufgaben', exercises_path %>
            &nbsp;&nbsp;
            <%= link_to 'Wiki', wikis_path %>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <% else %>
            &nbsp;&nbsp;
            <%= link_to 'Persönliche Daten', users_profile_path %>
            &nbsp;&nbsp;
            <%= link_to 'User suchen', users_path %>
            &nbsp;&nbsp;
            <%= link_to 'Nachrichten', questions_path %>
            &nbsp;&nbsp;
            <%= link_to 'Lehrplan', curriculums_path %>
            &nbsp;&nbsp;
            <%= link_to 'Fragenforum', questions_path %>
            &nbsp;&nbsp;
            <%= link_to 'Lernaufgaben', exercises_path %>
            &nbsp;&nbsp;
            <%= link_to 'Wiki', wikis_path %>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <% end %>
	<strong>Du bist angemeldet als <%= @current_user.username %></strong>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'Abmelden', login_path(@current_user, :authenticity_token => form_authenticity_token), :method => :delete%> <!--session_path( session ), :method => :delete %>-->
    <% end %>
</p>

<div class="container-fluid" id="errors_and_notices">
<% if flash[:error]%>
		<div class="span12 error" style="color: red; font-size: 15pt"><%= flash[:error] %></div>
<% end %>
<% if flash[:notice] %>
    	<div class="span12 notice" style="color: green; font-size: 15pt"><%= flash[:notice] %></div>
<% end %>
</div>

<div id="content"><%= content_for?(:content) ? yield(:content) : yield %></div>


</body>
</html>
